{% extends "base.html" %}
{% load static %}
{% block title %}上传和下载文件{% endblock %}
{% block content %}
    <h2>上传文件</h2>
    <p>注意：文件大小不能超过10MB，且只保留最近上传的10个文件！</p>
    <form action="/upload-and-download" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" style="border: 1px gray solid; border-radius: 2px"/>
        <input type="submit"/>
        <span>{{ msg }}</span>
    </form>
    {% if files %}
        <p>已上传文件：</p>
        <ul>
            {% for file in files %}
                <li>{{ file.file_name }}<span style="color: gray; font-style: italic">（上传于{{ file.modify_time }}）</span>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>已上传文件：无</p>
    {% endif %}
    <hr>
    <h2>下载文件</h2>
    <div style="text-align: center">
        <p>
            <img alt="凯迪拉克LYRIQ" src="{% static "img/cadillac-lyriq.jpg" %}">
        </p>
        <p>
            <span>凯迪拉克LYRIQ</span>
            <a href="{% static "img/cadillac-lyriq.jpg" %}" download="cadillac-lyriq.jpg">点击下载</a>
        </p>
    </div>
{% endblock %}